<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
</head>
	<body>
		<section id="login-wrapper" >
		<form class="login-form" method="post" action="/users/login" >
      <h3>Login</h3>
			<%- include('../includes/messages-list.ejs') %>
			<div class="form-control">
				<label>Email</label>
				<input 
					type="email" 
					placeholder="Enter Email" 
					name="email" 
					value="<%= typeof email !== 'undefined' ? email : '' %>"  />
			</div>
			<div class="form-control">
				<label>Password</label>
				<input
					type="password"
					placeholder="Enter Password"
					name="password"
					value="<%= typeof password !== 'undefined' ? password : '' %>"  
				/>
			</div>
      <div class="form-actions">
        <button class="loginBtn" type="submit">Login</button>
			</div>
			<div class="form-links">
				<p class="link" >Create an account? <a href="/users/signup" >Sign Up</a></p>
			</div>
			<div class="loginWith" >
				<p>or you can sign in with</p>
				<div class="login-methods" >
					<a href="/users/auth/facebook" class="login-fb" >
						<span class="loginIcon" >
							<i class="fab fa-facebook-f"></i>
						</span>
					</a>
				</div>
      </div>
		</form>
	</section>
<%- include('../includes/end.ejs') %>
