<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
</head>
	<body>
		<section id="signup-wrapper" >
		<form class="signup-form" method="post" action="/users/signup" >
      <h3>Sign Up</h3>
				<%- include('../includes/messages-list.ejs') %>
			<div class="form-control">
				<label>Name</label>
				<input 
					type="text" 
					placeholder="Enter Name" 
					name="name" 
					value="<%= typeof name !== 'undefined' ? name : '' %>" />
			</div>
			<div class="form-control">
				<label>Email</label>
				<input 
					type="email" 
					placeholder="Enter Email" 
					name="email" 
					value="<%= typeof email !== 'undefined' ? email : '' %>"  />
			</div>
			<div class="form-control">
				<label>Password</label>
				<input
					type="password"
					placeholder="Enter Password"
					name="password"
					value="<%= typeof password !== 'undefined' ? password : '' %>"  
				/>
			</div>
			<div class="form-control">
				<label>Confirm Password</label>
				<input
					type="password"
					placeholder="Confirm Password"
					name="password2"
					value="<%= typeof password2 !== 'undefined' ? password2 : '' %>"  
				/>
			</div>
      <div class="form-actions">
        <button class="signupBtn" type="submit">Sign Up</button>
      </div>
			<div class="form-links" >
				<p class="link" >Have an account? <a href="/users/login" >Login</a></p>
			</div>
			<div class="loginWith" >
				<p>or you can sign in with</p>
				<div class="login-methods" >
					<a href="/users/auth/facebook" class="login-fb" >
						<span class="loginIcon" >
							<i class="fab fa-facebook-f"></i>
						</span>
					</a>
				</div>
      </div>
		</form>
	</section>
<%- include('../includes/end.ejs') %>
